# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Vim Swap Files
*.swp

# Visual Studio Project Files
Debug/
ipch/
Release/
*.suo
*.opensdf
*.sdf
*.sln
*.vcxproj
*.filters
*.user
